<%- include ("component/header-post") -%>
<%-include("component/navbar-akun")-%>
<div id="border">
</div>
<section id="content">
    <div class="title">
        <h2><%= post.title %> </h2>
    </div>
    <div class="content">
        <div class="nav-story">
            <h3>Cerita Horror Lainnya</h3>
            <ul>
                <li>Undefined</li>
                <li>Undefined</li>
                <li>Undefined</li>
            </ul>
        </div>
        <div class="story">
            <%- post.html %>
        </div>
        <a class="ikon" href="">
            <img src="https://www.flaticon.com/svg/static/icons/svg/1076/1076745.svg" alt="" style="width: 3%;">
        </a>
    </div>
    <div id="comment-list">
        <h1>Daftar Komentar : </h1>
       
    </div>



</section>
<div class="komentar">
    /Home/:genre/:title/comment/:id
    <form action="/Home/<%=post.genre%>/<%=post.title%>/comment/<%= post._id %> " method="POST" autocomplete="off">
        <h2>Komentarlah di bawah sini : </h2>
        <input type="text" name="Nama" placeholder="Nama" value="<%= namef %> <%=namel %>" />
     
        <input type="text" name="Komentar" placeholder="Komen" />
        <button type="submit" class="btn btn-dark mt-5">Comment</button>
    </form>
</div>
<%- include  ("component/footer")-%>