<%- include ("component/header-akun")-%>
<%-include("component/navbar-akun")-%>
<div id="border">
</div>
<div class="profile">
    <div class="photo">
        <i class="far fa-user fa-7x img"></i>
    </div>


    <div class="class">

    </div>
    <div class="setting">
    </div>
    <a class="btn btn-outline-secondary button" href="/profil/add-story" role="button" aria-controls="collapseExample">
        Add Story
    </a>
 
</div>
<div class="add-story">
    <form action="/profil/edit/<%= post._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="Penulis">Penulis</label>
                <input class="form-control " type="text" name="postPenulis"value="<%= post.write %>" >
            </div>
            <div class="form-group">
                <label for='genre'>Genre</label>
                <select class='form-control' id="genre" name='postGenre' value="<%= post.genre%>" >
                    <option value="Horror">Horror</option>
                    <option value="Romance">Romance</option>
                    <option value="Comedy">Comedy</option>
                </select>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="postTitle" autocomplete="off" value="<%= post.title%>">
            </div>
            <div class="form-group">
                <label>Deskripsi</label>
                <textarea class="form-control" type="text" name="postDeskripsi" id=""  >
                    <%=post.Deskripsi%>
                </textarea>
            </div>
            <div class="form-group">
                <label>Post</label>
                <textarea class="form-control" type="text" name="postBody"  >
                    <%= post.content %>
                </textarea>
            </div>
            
            <a href="/profil" class="btn btn-secondary">Cancel</a>
            
            <button class="btn btn-primary" type="submit" name="button">
                Publish
            </button>
    </form>
    </div>
    <%- include ("component/footer") %>